:root {
  --primary50: rgb(0, 166, 255);
  --primary100: rgb(0, 110, 255);
  --primary150: rgb(3, 86, 196);
  --green100: rgb(0, 125, 40);
  --green150: rgb(0, 95, 30);
  --gray50: whitesmoke;
  --gray100: rgb(169, 169, 169);
  --gray150: rgb(66, 66, 66);
  --gray200: rgb(43, 43, 43);
  --red: rgb(224, 28, 28);
  --white: white;
  --gold: rgb(253, 217, 18);
  --black: #000;
  --space-xm: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;
  --transition-sm: all 0.3s;
  --transition-md: all 0.5s;
  --transition-lg: all 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--gray50);
  color: var(--gray150);
}

button {
  border: none;
  transition: var(--transition-sm);
  border-radius: var(--space-xm);
}
button:hover {
  transform: scale(1.05);
}

.btn-primary {
  background: var(--primary100);
  color: var(--gray50);
}
.btn-primary:hover {
  background: var(--primary150);
  color: var(--white);
}

.btn-secondary {
  background: var(--gray200);
  color: var(--gray50);
}
.btn-secondary:hover {
  background: var(--black);
  color: var(--white);
}

/* NAVBAR ****************************/
nav {
  height: 4rem;
  background: var(--primary100);
  color: var(--gray50);
  padding: 0 var(--space-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
}

nav .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

nav .right .cartCount {
  position: relative;
}

nav .right .cartCount span {
  position: absolute;
  top: -0.6rem;
  right: -0.8rem;
  background: var(--red);
  padding: 0 0.5rem;
  border-radius: 50%;
}

nav .right a {
  color: var(--gray50);
  font-size: 1.2rem;
  transition: var(--transition-sm);
}

nav .right a:hover {
  color: var(--white);
  font-weight: bolder;
}

nav .right i {
  font-size: 1.5rem;
  cursor: pointer;
  transition: var(--transition-sm);
}

nav .right i:hover {
  color: var(--white);
  font-size: 1.8rem;
}

/* MAIN ****************************/
main {
  padding: var(--space-lg);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}

/* PRODUCT ****************************/
.product {
  height: 30rem;
  background: var(--white);
  transition: var(--transition-sm);
  border-radius: 0.5rem;
  position: relative;
  overflow-y: hidden;
}

.product:hover {
  box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.75);
}

.product img {
  height: 65%;
  width: 100%;
  object-fit: cover;
}

.product .details {
  padding: var(--space-sm);
  text-align: center;
  position: relative;
}

.product .details .reviews {
  position: absolute;
  top: -1rem;
  right: 1rem;
}

.product .details .reviews i {
  color: var(--gold);
}

.product .details .title {
  color: var(--gray100);
}

.product .details .price {
  color: var(--gray200);
  font-weight: 700;
  font-size: 2.2rem;
}

.product .details .btn-group {
  display: flex;
  gap: 0.5rem;
  margin-top: var(--space-xm);
}

.product .details button {
  flex: 1;
  padding: var(--space-xm);
  cursor: pointer;
}

.product .discount {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: var(--green100);
  color: var(--gray50);
  padding: var(--space-xm);
  border-radius: var(--space-xm) 0 var(--space-xm) 0;
  font-weight: 200;
}

dialog {
  background: var(--white);
  padding: var(--space-sm);
  width: 80%;
  margin: 6rem auto 0;
  height: 70%;
  border-radius: var(--space-xm);
  border: none;
}

::backdrop {
  background-color: rgba(57, 57, 57, 0.629);
}
